* {
	margin: 0;
	padding: 0;
}

.wp-block-block-course-team-members .block-editor-block-list__layout {
	display: flex;
}

.wp-block-block-course-team-members {
	margin-left: -10px;
	margin-right: -10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			[data-type='block-course/team-member'] {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}
	[data-type='block-course/team-member'] {
		margin: 10px;

		img {
			margin-bottom: 20px;
		}

		h4 {
			color: #222;
			font-size: 22px;
			font-weight: 700;
			margin: 0;
		}

		p {
			color: #565656;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 5px;
			margin-top: 5px;
		}

		.wp-block-block-course-team-member-social-links {
			ul {
				list-style: none;
				padding: 0;
				margin: 15px -5px 0;

				li {
					display: inline-block;
					margin: 5px;

					a {
						text-decoration: none;
					}

					span.dashicon {
						color: #4e4e4e;
					}
				}
			}
		}
	}
}
